<div class="row">
  <div class="col-md-12 text-center">
    <%= image_tag 'logo.png', alt: 'Water Hi-Drant Project' %>
    <h1>Water Hi-Drant Project</h1>
  </div>
</div>

<row>
  <div class="col-md-3">
    <div class="truck-module text-center">
      <h3 class="truck-text">Truck Entry</h3>
    </div>
  </div>
  <div class="col-md-3">
    <div class="cc-module text-center">
      <h3 class="cc-text">Client / Company Entry</h3>
    </div>
  </div>
  <div class="col-md-3">
    <div class="bill-module text-center">
      <h3 class="bill-text">Bill Entry</h3>
    </div>
  </div>
  <div class="col-md-3">
    <div class="report-module text-center">
      <h3 class="report-text">Reports</h3>
    </div>
  </div>
</row>
