/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require jquery-ui/core
 *= require jquery-ui/theme
 *= require dataTables/src/demo_table_jui
 *= require_self
 */

@import 'bootstrap';
@import 'bootstrap-sprockets';

.modal-content {
  position: relative;
  background-color: #fff;
  border: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: 0;
}

.table-bordered > thead > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > tfoot > tr > td {
  border: 4px solid #ddd;
}

$h3_color: #777777;

@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url('Montserrat-Regular.ttf');
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #F9F9F9;
  h1, h2, h3, h4, h5, h6, p, li, ul{
    font-family: 'Montserrat', sans-serif;
  }
  a:hover {
    text-decoration: none;
  }
}

.m-t-m{
  margin-top: 20px;
}

.m-t-l{
  margin-top: 35px;
}
.main-header {
  background-color: #fff;
  margin-top: 20px;
  margin-right: 25px;
  margin-left: 25px;
  margin-bottom: 20px;
  border: 1px solid #f2f2f2;
  box-shadow: 0 1px 0 0 rgba(0,0,0,.05),0 2px 4px 0 rgba(0,0,0,.06);
}

.truck-module{
  background-image: image-url('water-truck.svg');
  background-repeat: no-repeat;
  background-size: 203px;
  background-position-x: 18px;
  background-position-y: -39px;
  background-color: #f2f2f2;
  margin-bottom: 20px;
  height: 124px;
  margin-left: 20px;
  border-radius: 1px;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.05), 0 2px 14px 0 rgba(0, 0, 0, 0.06);
}
.truck-module:hover{
  background-color: gainsboro;
}
.truck-text{
  font-size: 1.7em;
  font-weight: 800;
  color: $h3_color;
}

.cc-module{
  background-image: image-url('factory.svg');
  background-repeat: no-repeat;
  background-size: 158px;
  background-position-x: 35px;
  background-position-y: -3px;
  background-color: #f2f2f2;
  margin-bottom: 20px;
  height: 124px;
  margin-left: 20px;
  border-radius: 1px;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.05), 0 2px 14px 0 rgba(0, 0, 0, 0.06);
}
.cc-module:hover{
  background-color: gainsboro;
}
.cc-text{
  font-size: 1.7em;
  font-weight: 800;
  color: $h3_color;
}

.bill-module{
  background-image: image-url('billentry.svg');
  background-repeat: no-repeat;
  background-size: 119px;
  background-position-x: 55px;
  background-position-y: 3px;
  background-color: #f2f2f2;
  margin-bottom: 20px;
  height: 124px;
  margin-left: 20px;
  border-radius: 1px;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.05), 0 2px 14px 0 rgba(0, 0, 0, 0.06);
}
.bill-module:hover{
  background-color: gainsboro;
}
.bill-text{
  font-size: 1.7em;
  font-weight: 800;
  color: $h3_color;
}

.report-module{
  background-image: image-url('report.svg');
  background-repeat: no-repeat;
  background-size: 132px;
  background-position-x: 53px;
  background-position-y: 4px;
  background-color: #f2f2f2;
  margin-bottom: 20px;
  height: 124px;
  margin-left: 20px;
  border-radius: 1px;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.05), 0 2px 14px 0 rgba(0, 0, 0, 0.06);
}
.report-module:hover{
  background-color: gainsboro;
}
.report-text{
  font-size: 1.7em;
  font-weight: 800;
  color: $h3_color;
}

.exit {
  background-image: image-url('exit.svg');
  background-repeat: no-repeat;
  background-size: 120px;
  background-position-x: 69px;
  background-position-y: 4px;
  background-color: #f2f2f2;
  margin-bottom: 20px;
  height: 124px;
  margin-left: 20px;
  border-radius: 1px;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.05), 0 2px 14px 0 rgba(0, 0, 0, 0.06);
}
.exit:hover{
  background-color: rgba(9, 9, 9, 0.42);
}
.exit-text{
  font-size: 1.7em;
  font-weight: 800;
  color: $h3_color;
}
.receiveable-module{
  background-image: image-url('receiveable.svg');
  background-repeat: no-repeat;
  background-size: 197px;
  background-position-x: 25px;
  background-position-y: 4px;
  background-color: #f2f2f2;
  margin-bottom: 20px;
  height: 124px;
  margin-left: 20px;
  border-radius: 1px;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.05), 0 2px 14px 0 rgba(0, 0, 0, 0.06);
}
.receiveable-module:hover{
  background-color: gainsboro;
}
.receiveable-text{
  font-size: 1.7em;
  font-weight: 800;
  color: $h3_color;
}